* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin-bottom: 0px;
  margin-left: 100px;
  margin-top: 30px;
}

form {
  width: 900px;
  height: 10px;
}

.name {
  width: 30%;
  padding: 15px;
  margin-bottom: 5px;
  display: block;
  border: none;
  background: #f1f1f1;
  position: relative;
  top: 30px;
  left: 200px;
}

.label {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 70px;
  left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(66, 150, 184);
}

.submit {
  width: 30%;
  background: rgb(99, 211, 99);
  color: black;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  outline: none;
  position: relative;
  left: 200px;
  top: 80px;
}

.select {
  width: 200px;
  height: 30px;
  position: relative;
  top: 50px;
  left: 200px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  /* background: red; */
}
